.container {
  background-image: radial-gradient(
      circle at top right,
      hsl(150 100% 50%),
      hsl(150 100% 50% / 0%)
    ),
    radial-gradient(
      circle at bottom left,
      hsl(150 100% 84%),
      hsl(150 100% 84% / 0%)
    );
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--dark-clr);
}

.header {
  margin-block-start: 0;
  margin-block-end: 2em;
  padding-block-end: 1em;
  width: 100%;
  background-color: var(--dark-clr);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.footer {
  display: flex;
  flex: 1;

  width: 100%;
  height: 4rem;
  background-color: var(--dark-clr);
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0% 100%);
}

.footer a {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--bg-clr);
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-clr);
}

.title {
  margin-top: 0.35em;
  margin-bottom: 0.125em;
  line-height: 1.2;
  font-size: 3rem;
  background: linear-gradient(
    -90deg,
    var(--bg-clr),
    var(--accent-clr),
    var(--bg-clr),
    var(--bg-clr)
  );
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: -0.125rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 3s ease-in-out;
  -moz-animation: animated_text 3s ease-in-out;
  -webkit-animation: animated_text 3s ease-in-out;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.title,
.description {
  color: var(--light-clr);
  text-align: center;
  animation: var(--animation-fade-in) forwards;
}

.textAccent {
  color: var(--bg-clr);
}

.description {
  margin-top: 0.325em;
  margin-bottom: 1em;
  font-size: 1.125rem;
}

.code {
  padding: 0.75em;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 2em;
}

.card {
  padding: var(--size-fluid-3);
  text-align: left;
  color: var(--light-clr);
  min-width: 300px;
  width: 300px;
  max-width: 400px;
  height: 150px;
  text-decoration: none;
  background-color: var(--dark-clr);
  border-radius: 0.625rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--accent-clr);
  border-color: var(--accent-clr);
}

.card h2 {
  margin: 0 0 1em 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-inline: 0.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* sliders  */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: var(--light-clr);
  outline: none;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-clr);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

/* recipe css */

.recipe__wrapper {
  margin-bottom: 3em;
  background-color: var(--dark-clr);
  color: var(--yellow-1);
  border-radius: 0.625rem;
  padding: var(--size-fluid-3);
}
